@media only screen and (max-width: 500px){
    .formInformation{
        width: 300px;
        margin-left: 40px !important;
        
        
    }

    .formInformation2{
        margin-right:40px;
    }

    .buttonInformation2{
        width: 260px !important;
        margin-right: 80px !important;
        margin-top: 40px !important;
    }
  }